<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
	<!--信箱驗證Gmail發信帳密-->
	<add key="gmailAccount" value="dullulysses@gmail.com" />
	<add key="gmailPassword" value="nfjttiiwgeqsekzg" />
	<!--電子招標搜尋關鍵字-->
	<add key="KeyWord" value="旗" />
	<!--用戶信箱資料(多人可用","隔開)*注意用戶名與E-Mail數量需相同-->
	<add key="UserName" value="龜人君, 龜桑" />
	<add key="UserMail" value="dulllooking@me.com, dulllooking@gmail.com" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
	<add name="ApplicationDbContext" connectionString="data source=DULL-MSI\MSSQLSERVERDULL;initial catalog=XMLdemo;User ID=XMLdemo;Password=XMLdemo" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>